﻿@model CorporatePortal.Models.MarkList

@{
    Layout = null;
}

@using (Html.BeginForm("Edit", "Mark", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.Id)
    <div class"form-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-ladel" })
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
    <div class"form-group">
        @Html.LabelFor(model => model.Error, new { @class = "control-ladel" })
        @Html.EditorFor(model => model.Error, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Error)
    </div>
    <div class"form-group">
        @Html.LabelFor(model => model.Time, new { @class = "control-ladel" })
        @Html.EditorFor(model => model.Time, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Time)
    </div>
    <div class="form-group">
        <input type="submit" style="margin-top: 10px" value="Сохранить" class="btn btn-primary" />
        <input type="reset" style="margin-top: 10px" value="Сбросить" class="btn" />
    </div>
}
<div>
    <a asp-action="Index">Вернуться назад</a>
</div>

