﻿
@{
    ViewData["Title"] = "Оценки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a class="btn btn-success" style="margin-bottom:10px" onclick="PopupForm('@Url.Action("Add","Mark")')"><i class="fa fa-plus"></i> Добавить</a>
<table id="taskTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Тип проверки</th>
            <th>Ошибки</th>
            <th>Время прохождения</th>
            <th></th>
        </tr>
    </thead>
</table>


<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


@section scripts{

    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#taskTable").DataTable({
                "ajax": {
                    "url": "/Mark/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name" },
                    { "data": "Error"},
                    { "data": "Time" },
                    {
                        "data": "Id", "render": function (data) {
                            return "<a class='btn btn-primary btn-sm' onclick=PopupForm('@Url.Action("Edit", "Mark")/" + data + "')><i class='fa fa-pencil'></i> Изменить</a><a class='btn btn-danger btn-sm' style = 'margin-left:5px' onclick = Delete("+data+")><i class='fa fa-trash'></i> Удалить</a>";
                        }
                    }
                ],
                   "language": {
                       "emptyTable": "Таблица не найдена. Пожалуйста, нажмите <b>Добавить<b>.",
                       "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Russian.json"
                },

            });
        });


        //Форма открывается при нажатии кнопки "Добавить" или "Изменить"
        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Прохождение',
                        height: 500,
                        width: 400,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        }

        //Функция отправки данных из формы "ADDOrEdit"
        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
            return false;
        }

        function Delete(id) {
            if (confirm('Удалить ?')) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "Mentoring")/' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })

                        }
                    }

                });
            }
        }
    </script>


}

