﻿@{
    ViewData["Title"] = "Оценки";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table id="taskTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Тип проверки</th>
            <th>Ошибки</th>
            <th>Время прохождения</th>
        </tr>
    </thead>
</table>


<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


@section scripts{

    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#taskTable").DataTable({
                "ajax": {
                    "url": "/Mark/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name" },
                    { "data": "Error"},
                    { "data": "Time" }
                ],
                   "language": {
                       "emptyTable": "Таблица не найдена..",
                       "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Russian.json"
                },

            });
        });       
    </script>
}



