﻿@model CorporatePortal.Models.TaskList

@{
    Layout = null;
}

@using (Html.BeginForm("Edit", "Task", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    @Html.HiddenFor(model => model.Id)
    <div class"form-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-ladel" })
        @Html.ValueFor(model => model.Name)
        
    </div>
    <div class"form-group">
        @Html.LabelFor(model => model.Description, new { @class = "control-ladel" })
        @Html.ValueFor(model => model.Description)
    </div>
    <div class"form-group">
        @Html.LabelFor(model => model.Deadline, new { @class = "control-ladel" })
        @Html.ValueFor(model => model.Deadline)
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="IsDone" /> @Html.DisplayNameFor(model => model.IsDone)
        </label>
    </div>
    <div class="form-group">
        <input type="submit" style="margin-top: 10px" value="Сохранить" class="btn btn-primary" />
        <input type="reset" style="margin-top: 10px" value="Сбросить" class="btn" />
    </div>
}
<div>
    <a asp-action="Index">Вернуться назад</a>
</div>

