﻿@{
    ViewData["Title"] = "Задачи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h4> Ваши задачи</h4>
</div>

<div>
    <h6>Информация о сотруднике </h6>
</div>
<div>
    <h7>
        Телефон:
        Почта:
        Город:
    </h7>
</div>

<table id="taskTable" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Срок</th>
            <th>Выполнил</th>
            <th></th>
        </tr>
    </thead>
</table>


<link href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" rel="stylesheet" />


@section scripts{

    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#taskTable").DataTable({
                "ajax": {
                    "url": "/Task/GetData",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Name" },
                    { "data": "Description"},
                    { "data": "Deadline" },
                    {
                        "data": "IsDone", "render": function (data) {
                            return data == true ? '<b>Да<b>' : 'Нет';
                        }
                    },
                    {
                        "data": "Id", "render": function (data) {
                            return "<a class='btn btn-primary btn-sm' onclick=PopupForm('@Url.Action("Edit", "Task")/" + data + "')><i class='fa fa-pencil'></i> Изменить</a>";
                        }
                    }
                ],
                   "language": {
                       "emptyTable": "Таблица не найдена..",
                       "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Russian.json"
                },

            });
        });


        //Форма открывается при нажатии кнопки "Добавить" или "Изменить"
        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);

                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizable: false,
                        title: 'Задача',
                        height: 450,
                        width: 350,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        }

        //Функция отправки данных из формы "ADDOrEdit"
        function SubmitForm(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();

                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                    }
                });
            }
            return false;
        }
        
    </script>


}

