﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject RoleManager<IdentityRole> RoleManager

@{ ViewData["Title"] = "Корпоративный портал РОСАТОМ"; }

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
</div>


@if (SignInManager.IsSignedIn(User))
{
    <link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="https://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>

    <br>
    <br>
    <br>

    <div class="container">
        <div id="main">


            <div class="row" id="real-estates-detail">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <header class="panel-title">
                                <div class="text-center">
                                    <strong>Пользователь сайта</strong>
                                </div>
                            </header>
                        </div>
                        <div class="panel-body">
                            <div class="text-center" id="author">
                                <h3>Иванов Иван Иванович</h3>
                                <small class="label label-warning">Российская Федерация</small>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-12">
                    <div class="panel">
                        <div class="panel-body">
                            <ul id="myTab" class="nav nav-pills">
                                <li class="active"><a href="#detail" data-toggle="tab">О пользователе</a></li>
                                <li class=""><a href="#contact" data-toggle="tab">Редактировать профиль</a></li>

                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <hr>
                                <div class="tab-pane fade active in" id="detail">
                                    <h4>История профиля</h4>
                                    <table class="table table-th-block">
                                        <tbody>
                                            <tr><td class="active">Нанят:</td><td>20-03-2021</td></tr>
                                            <tr><td class="active">Последняя активность:</td><td>25-03-2021 / 19:44</td></tr>
                                            <tr><td class="active">Город:</td><td>Казань</td></tr>
                                            <tr><td class="active">Должность в компании:</td><td>Начинающий специалист</td></tr>
                                            <tr><td class="active">Подразделение:</td><td></td></tr>
                                            <tr><td class="active">Руководитель:</td><td></td></tr>
                                            <tr><td class="active">Дата рождения:</td><td>21.01.1994</td></tr>
                                            <tr><td class="active">Пол:</td><td>Мужской</td></tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}